
<header id="header">
    <ul>
        <li id="title"><a href="/">Codial | <%= locals.env_name %></a></li>
    <% if(locals.user) { %>
        <li style="float: right;"> <a href="/users/sign-out">Sign Out</a> </li>

        <li style="float: right;">
            <a href="/users/profile/<%= locals.user.id %>">
                <%= user.name %>
            </a>
        </li>
    <% }else { %>
        
        <li style="float: right;">
            <a href="/users/sign-Up">Sign Up</a>
        </li>
        
        <li style="float: right;">
            <a href="/users/sign-in">Sign In</a>
        </li>
    <% } %>
    </ul>
    
</header>